<ion-menu [content]="content">
    <ion-content>
        <ion-toolbar>
            <ion-title>Pages</ion-title>
        </ion-toolbar>
        <ion-list>
            <ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>