<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Page Title
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="getting-started">
    <h3>Welcome to your first Ionic app!</h3>
    <p>This starter project is our way of helping you get a functional app running in record time.</p>
    <p>Follow along on the tutorial section of the Ionic docs!</p>
    <p>
        <button ion-button menuToggle>Toggle Menu</button>
    </p>
</ion-content>
